body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/350/original/Gilmore-girls-revival-wallpaper-gilmore-girls-40019994-1920-1080.png?1707349934");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}
a {
  color: white;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

footer {
  align-items: ;
}
