body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/350/original/Gilmore-girls-revival-wallpaper-gilmore-girls-40019994-1920-1080.png?1707349934");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 58px;
}

h2 {
  color: white;
  text-align: center;
}

a {
  margin-left: 100px;
  color: white;
}

form {
  margin-top: 100px;
  text-align: center;
}
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-gallery > li {
  height: 200px;
  cursor: pointer;
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
footer {
  margin-top: 200px;
  text-align: center;
  color: white;
}
