body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/350/original/Gilmore-girls-revival-wallpaper-gilmore-girls-40019994-1920-1080.png?1707349934");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

h1 {

  color: white;
}
